# Third-party source cheatsheets, kept locally for reference only.
# Copyrighted by their publishers (MakeUseOf/Valnet, Datadog, RaspberryTips,
# Red Hat, …) — never commit or publish them. Everything in _docs/ is original.
/datadog/
/muo/
/raspberrytips/
/redhat/

# Jekyll build output & local gems
_site/
.jekyll-cache/
.jekyll-metadata
vendor/
.bundle/
